@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-check-from: hsl(192, 100%, 67%);
  --color-check-to: hsl(280, 87%, 65%);
}

body {
  font-family: "Josefin Sans", sans-serif;
}